.modal {
  background: rgba(107, 114, 128, 0.75);
  width: 1333px;
  height: 797px;
  position: fixed;
  top: 0;
  margin: 1.3vh;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 99;
  /* padding: 30px 0; */
  transition: transform 0.15s ease 0s, opacity 0.15s ease 0s;
  transform: scale(0);
}
.active {
  transform: scale(1);
}
